<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <button md-button (click)="openSnackBar(message)">Show snack-bar</button>
</div>

<div id="fullScreenTest" class="demo-content" (window:resize)="onResize($event)">
    <md-toolbar color="primary">
      <div class="demo-toolbar">
        <h2>Angular Material Demos</h2>
        <div>
          <button md-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <md-icon class="md-24">fullscreen</md-icon>
          </button>
        </div>
      </div>
    </md-toolbar>

    <h2>Table</h2>
    <div class="example-table-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource" [style.height.px]="tableHeight">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="userId">
          <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container cdkColumnDef="progress">
          <md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.progress}}% </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="userName">
          <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container cdkColumnDef="color">
          <md-header-cell *cdkHeaderCellDef>Color</md-header-cell>
          <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </div>
</div>

<h2>Here are some examples of material2: </h2>
<p>Font : <strong>Noto Sans, Noto Sans CJK KR</strong></p>
<ul>
  <li>
    <h2>Icons</h2>
    <i class="material-icons md-24">android</i>
    <button md-icon-button mdTooltip="INSERT TEXT" mdTooltipPosition="above"><md-icon class="md-24">textsms</md-icon></button>
    <button md-icon-button mdTooltip="INSERT LINK" mdTooltipPosition="above"><md-icon class="md-24">insert_link</md-icon></button>
    <button md-icon-button mdTooltip="INSERT photo" mdTooltipPosition="above"><md-icon class="md-24">photo</md-icon></button>
  </li>

  <li>
    <h2>Button</h2>
    <!-- Button styles: md-button, md-raised-button, md-icon-button, md-fab, md-mini-fab -->
    <button md-raised-button>Click me!</button>
    <md-button-toggle>Toggle me!</md-button-toggle>
    <a md-raised-button>Move to me!</a>
  </li>

  <li>
    <h2>Checkbox</h2>
    <md-checkbox>Check me!</md-checkbox>
  </li>

  <li>
    <h2>MdAutocomplete</h2>
    <md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>
  </li>

  <li>
    <h2>Input</h2>
    <md-input-container>
      <input mdInput placeholder="Favorite food" value="Sushi">
    </md-input-container>
  </li>

  <li>
    <md-card class="result">
      <md-card-content>
        <h2 class="example-h2">Result</h2>

        <md-slider
            class="example-margin"
            [max]="100"
            [min]="0"
            [step]="5"
            [thumb-label]="true"
            [value]="sliderValue">
        </md-slider>
      </md-card-content>
    </md-card>
  </li>

  <li>
    <h2>Menu</h2>
    <button md-button [mdMenuTriggerFor]="menu">Menu</button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>Item 1</button>
      <button md-menu-item>Item 2</button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
  </li>

  <li>
    <h2>Sidenav</h2>
    <md-sidenav-container class="example-container">
      <md-sidenav #sidenav class="example-sidenav">
        Jolly good!
      </md-sidenav>

      <div class="example-sidenav-content">
        <button type="button" md-button (click)="sidenav.open()">
          Open sidenav
        </button>
      </div>
    </md-sidenav-container>
  </li>

  <li>
    <h2>Grid list</h2>
    <md-grid-list cols="4" rowHeight="100px">
      <md-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color">
        {{tile.text}}
      </md-grid-tile>
    </md-grid-list>
  </li>

  <li>
    <h2>Tab</h2>
    <md-tab-group>
      <md-tab label="Tab 1">Content 1</md-tab>
      <md-tab label="Tab 2">Content 2</md-tab>
    </md-tab-group>
  </li>

  <li>
    <h2>Chips</h2>
    <md-chip-list>
      <md-chip>One fish</md-chip>
      <md-chip>Two fish</md-chip>
      <md-chip color="primary" selected="true">Primary fish</md-chip>
      <md-chip color="accent" selected="true">Accent fish</md-chip>
    </md-chip-list>    
  </li>

  <li>
    <h2>Tooltip</h2>
    <span mdTooltip="Tooltip!">I have a tooltip</span>
  </li>

  <li>
    <h2>Progress bar</h2>
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </li>

  <li>
    <h2>Datepicker</h2>
    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </li>

  <li>
    <h2>Dialog</h2>
    <button md-button (click)="openDialog()">Open dialog</button>
  </li>

  <li>
    <h2>Single Expansion Panel</h2>
    <md-expansion-panel class="md-expansion-demo-width" #myPanel>
      <md-expansion-panel-header>
        <mat-panel-description>This is a panel description.</mat-panel-description>
        <mat-panel-title>Panel Title</mat-panel-title>
      </md-expansion-panel-header>
        This is the content text that makes sense here.
      <md-action-row>
        <button md-button (click)="myPanel.expanded = false">CANCEL</button>
        <button md-button>SAVE</button>
      </md-action-row>
    </md-expansion-panel>    
  </li>
</ul>
