<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <button md-raised-button [mdMenuTriggerFor]="menu">Paths</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item [routerLink]="['']"><span>Main</span></button>
    <button md-menu-item [routerLink]="['table']"><span>Table Example</span></button>
    <button md-menu-item [routerLink]="['about']"><span>About (layouts)</span></button>
    <button md-menu-item [routerLink]="['help']"><span>Help (scroll)</span></button>
  </md-menu>  
</div>
<p>&nbsp;</p>
<router-outlet></router-outlet>